<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="invalid">
    <h1>Invalid Input!</h1><br>
        <ul>
            <% for (let i = 0; i < result.errors.length; i++) { %>
                <li><%= result.errors[i] %></li>
            <% } %>
        </ul>
    <br>   
    <p>Return home and try again?</p><br>
    <button id="confirmbutton" onclick="window.location.href='/'">Home</button>
    <button id="confirmbutton" onclick="window.location.href='/admin'">Admin</button>
</body>
</html>